@model List<Banyan.Models.FoodSpecialDateList>

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}


<link href="~/Styles/specialdate.css" rel="stylesheet" />
<link href="~/Styles/table.css" rel="stylesheet" />
<div class="content-page-big">
    <div class="content-page-left">
        <div class="searchbox">
            <label class="searchboxitem">Danh mục</label>
            @Html.DropDownList("categoryid", (SelectList)ViewBag.categoryid, "...", new { onchange = "Search();", @class = "searchboxitem" })
            <label class="searchboxitem">Lọc món</label>
            @Html.TextBox("SearchString", "", new { @class = "searchboxitem" })
            <input class="searchboxitem" type="button" id="btnSearch" onclick="Search()" value="Tìm kiếm" />
        </div>

        <table class="table-fill">
            <thead>
                <tr>
                    <th>
                        Danh mục
                    </th>
                    <th>
                        Tên món
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Hình nhỏ
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-hover" id="tableleft">
                @foreach (var item in Model.ElementAt(0).Foods)
                {
                    <tr>
                        <td class="hiddentd">
                            @item.id
                        </td>
                        <td class="danhmuctd">
                            @item.categoryname
                        </td>
                        <td class="tenmontd">
                            @item.name
                        </td>
                        <td class="smalltd">
                            @item.price
                        </td>
                        <td class="smalltd">
                            <img class="verysmallimg" src="../../Images/Food/@item.smallimage" />
                        </td>
                        <td class="movetd">
                            <img src="../../Images/BackgroundAdmin/moveRight.png" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="content-page-right">
        <div class="searchbox">
            <label class="searchboxitem">Ngày bán</label>
            <input type="text" class="searchboxitem" id="datebuying" style="width: 295px" />
            <span id="dateError">@ViewBag.DateError</span>
        </div>

        <table class="table-fill">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Danh mục
                    </th>
                    <th>
                        Tên món
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Hình nhỏ
                    </th>
                </tr>
            </thead>
            <tbody class="table-hover" id="tableright">
                @foreach (var item in Model.ElementAt(1).Foods)
                {
                    <tr>
                        <td class="movetd">
                            <img src="../../Images/BackgroundAdmin/moveLeft.png" />
                        </td>
                        <td class="hiddentd">
                            @item.id
                        </td>
                        <td class="danhmuctd">
                            @item.categoryname
                        </td>
                        <td class="tenmontd">
                            @item.name
                        </td>
                        <td class="smalltd">
                            @item.price
                        </td>
                        <td class="smalltd">
                            <img class="verysmallimg" src="../../Images/Food/@item.smallimage" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#datebuying").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                onSelect: function (date) {
                    $('#dateError').text('');
                    $.ajax({
                        url: '@Url.Action("GetFoodInDate", "vSpecialAdmin")',
                        type: 'GET',
                        contentType: 'application/json',
                        data: { datestr: $('#datebuying').val(), categoryid: $('#categoryid').val(), searchString: $('#SearchString').val() },
                        async: false,
                        success: function (data) {
                            if (typeof data.foodInDate === "undefined") {
                                $('#dateError').text(data.Message);
                            }
                            else {
                                var html = "";
                                var foodInDate = data.foodInDate;
                                for (var i = 0; i < foodInDate.length; i++) {
                                    html += "<tr>";
                                    html += "   <td class='movetd'>";
                                    html += "       <img src='../../Images/BackgroundAdmin/moveLeft.png'/>";
                                    html += "   </td>";
                                    html += "   <td class='hiddentd'>" + foodInDate[i].id + "</td>";
                                    html += "   <td class='danhmuctd'>" + foodInDate[i].categoryname + "</td>";
                                    html += "   <td class='tenmontd'>" + foodInDate[i].name + "</td>";
                                    html += "   <td class='smalltd'>" + foodInDate[i].price + "</td>";
                                    html += "   <td class='smalltd'>";
                                    html += "       <img class='verysmallimg' src='../../Images/Food/" + foodInDate[i].smallimage + "' />";
                                    html += "   </td>";
                                    html += "</tr>";
                                }
                                $('#tableright').html(html);
                            }
                        }
                    });
                }
            }).datepicker("setDate", new Date().getDay + 1);
        });
    </script>
}

<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 140) {
            $('.content-page-right').addClass("sticky");
        }
        else {
            $('.content-page-right').removeClass("sticky");
        }
    });

    function Search() {
        DisableItem($('#btnSearch'));
        $.ajax({
            url: '@Url.Action("FoodOption","vSpecialAdmin")',
            type: 'GET',
            contentType: 'application/json',
            data: { categoryid: $('#categoryid').val(), searchString: $('#SearchString').val(), date: $('#datebuying').val() },
            async: false,
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += CreateLeftRow(data[i].id, data[i].categoryname, data[i].name, data[i].price, "../../Images/Food/" + data[i].smallimage);
                }
                $('#tableleft').html(html);
            }
        });
        EnableItem($('#btnSearch'));
    }

    function EnableItem(item) {
        item.prop('disabled', false);
        item.css('opacity', '1');
    }

    function DisableItem(item) {
        item.prop('disabled', true);
        item.css('opacity', '0.7');
    }

    function CreateLeftRow(id, categoryname, name, price, imgsrc) {
        html = "";
        html += "<tr>";
        html += "   <td class='hiddentd'>" + id + "</td>";
        html += "   <td class='danhmuctd'>" + categoryname + "</td>";
        html += "   <td class='tenmontd'>" + name + "</td>";
        html += "   <td class='smalltd'>" + price + "</td>";
        html += "   <td class='smalltd'>";
        html += "       <img class='verysmallimg' src='" + imgsrc + "' />";
        html += "   </td>";
        html += "   <td class='movetd'>";
        html += "       <img src='../../Images/BackgroundAdmin/moveRight.png'/>";
        html += "   </td>";
        html += "</tr>";
        return html;
    }

    function CreateRightRow(id, categoryname, name, price, imgsrc) {
        html = "";
        html += "<tr>";
        html += "   <td class='movetd'>";
        html += "       <img src='../../Images/BackgroundAdmin/moveLeft.png'/>";
        html += "   </td>";
        html += "   <td class='hiddentd'>" + id + "</td>";
        html += "   <td class='danhmuctd'>" + categoryname + "</td>";
        html += "   <td class='tenmontd'>" + name + "</td>";
        html += "   <td class='smalltd'>" + price + "</td>";
        html += "   <td class='smalltd'>";
        html += "       <img class='verysmallimg' src='" + imgsrc + "' />";
        html += "   </td>";
        html += "</tr>";
        return html;
    }

    $('.content-page-left .movetd').live('click', function () {
        $('#dateError').text('');
        var tr = $(this).parent();
        var id = tr.find('.hiddentd').text().trim();
        var listtd = tr.find('td');
        tr.css('opacity', '0.2');

        $.ajax({
            url: '@Url.Action("AddFoodInDate","vSpecialAdmin")',
            type: 'POST',
            data: { id: id, dateStr: $('#datebuying').val() },
            async: false,
            success: function (data) {
                if (data.Success == true) {
                    tr.hide(0);
                    var id = listtd.eq(0).text().trim();
                    var danhmuc = listtd.eq(1).text().trim();
                    var name = listtd.eq(2).text().trim();
                    var price = listtd.eq(3).text().trim();
                    var imgsrc = listtd.eq(4).find('img').eq(0).attr('src');
                    $('#tableright').append(CreateRightRow(id, danhmuc, name, price, imgsrc));
                }
                else {
                    $('#dateError').text(data.Message);
                }
                tr.css('opacity', '1');
            }
        });
    });

    $('.content-page-right .movetd').live('click', function () {
        $('#dateError').text('');
        var tr = $(this).parent();
        var id = tr.find('.hiddentd').text().trim();
        var listtd = tr.find('td');
        tr.css('opacity', '0.2');

        $.ajax({
            url: '@Url.Action("RemoveFoodInDate", "vSpecialAdmin")',
            type: 'POST',
            data: { id: id, dateStr: $('#datebuying').val() },
            async: false,
            success: function (data) {
                if (data.Success == true) {
                    tr.hide(0);
                    var id = listtd.eq(1).text().trim();
                    var danhmuc = listtd.eq(2).text().trim();
                    var name = listtd.eq(3).text().trim();
                    var price = listtd.eq(4).text().trim();
                    var imgsrc = listtd.eq(5).find('img').eq(0).attr('src');
                    $('#tableleft').append(CreateLeftRow(id, danhmuc, name, price, imgsrc));
                }
                else {
                    $('#dateError').text(data.Message);
                }
                tr.css('opacity', '1');
            }
        });
    });
</script>